@media only screen and (min-device-width: 769px) {          /*******************************************************************************/

* {
    font-family: 'Heebo', sans-serif;
    overflow: hidden;
}

#logos {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.white {
    background-color: white;
}

h2 {
    font-size: 5em;
    text-align: center;
    width: 100%;
    background-color: dodgerblue;
    color: white;
}

img {
    height: 5em;
    width: 5em;
    margin-top: 10vw;
}

body {
    background-color: dodgerblue;
}

text {
    font-size: 2vw;
    color: white;
    margin-top: 10vw;
    margin-left: 5.5em;
}

a {
    color: white;
    margin-left: 40vw;
}
}
@media only screen and (max-device-width: 768px) {          /*******************************************************************************/

    * {
    font-family: 'Heebo', sans-serif;
    overflow: hidden;
}

#logos {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.white {
    background-color: white;
}

h2 {
    font-size: 5em;
    text-align: center;
    width: 100%;
    background-color: dodgerblue;
    color: white;
}

img {
    height: 5em;
    width: 5em;
    margin-top: 10vw;
}

body {
    background-color: dodgerblue;
}

text {
    font-size: 2vw;
    color: white;
    margin-top: 10vw;
    margin-left: 5.5em;
}
#options{
    text-align: center;
}

a {
    color: white;
    font-size: 2.5em;
}
    
}